flask
flask-cors
flask-socketio
numpy
pandas
matplotlib
scikit-learn
seaborn
requests
beautifulsoup4
lxml
pytest
jupyter
notebook
ipython
nbformat
nbconvert
sympy
scipy
plotly
pyodide
micropip
aiohttp
tqdm
joblib
pydantic
markdown
sqlalchemy
openpyxl
xlrd
networkx
statsmodels
cairosvg
svgwrite
svglib
reportlab
Pillow
wand
pycairo
weasyprint
drawsvg
pygame
pyglet
pyvips
kivy
manim
svgpathtools
tinycss2
fonttools
pyfiglet
freetype-py
PygameFont
imageio
qrcode
barcode
pygal
graphviz
pydot
pillow-svg
plotnine
dash
dash-bootstrap-components
dash-canvas
vispy
pytesseract
imgkit
html2image